In [11]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [12]:
with open('../data/Sleep/sleep-2016-04-02.json') as json_file:
    data = json.load(json_file)

In [13]:
data_df = pd.DataFrame(data)
data_df

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,type,infoCode,levels,mainSleep
0,11552355960,2016-05-02,2016-05-01T17:44:00.000,2016-05-02T09:45:00.000,57660000,121,693,143,4,961,83,classic,0,"{'summary': {'restless': {'count': 58, 'minute...",True
1,11529580516,2016-05-01,2016-04-30T23:34:30.000,2016-05-01T10:03:00.000,37680000,0,620,8,0,628,99,classic,0,"{'summary': {'restless': {'count': 3, 'minutes...",True
2,11522757046,2016-04-30,2016-04-29T23:35:00.000,2016-04-30T07:17:30.000,27720000,0,455,7,0,462,98,classic,0,"{'summary': {'restless': {'count': 3, 'minutes...",True
3,11514700724,2016-04-29,2016-04-28T22:56:00.000,2016-04-29T07:05:00.000,29340000,0,481,8,0,489,98,classic,0,"{'summary': {'restless': {'count': 3, 'minutes...",True
4,11514700723,2016-04-28,2016-04-27T23:41:30.000,2016-04-28T07:05:30.000,26640000,0,438,6,0,444,99,classic,0,"{'summary': {'restless': {'count': 4, 'minutes...",True
5,11497649076,2016-04-27,2016-04-26T23:19:00.000,2016-04-27T06:07:30.000,24480000,0,398,10,0,408,98,classic,0,"{'summary': {'restless': {'count': 6, 'minutes...",True
6,11491985697,2016-04-26,2016-04-25T23:34:00.000,2016-04-26T07:35:00.000,28860000,0,468,12,1,481,98,classic,0,"{'summary': {'restless': {'count': 6, 'minutes...",True
7,11482825769,2016-04-25,2016-04-24T23:36:30.000,2016-04-25T07:34:00.000,28620000,0,469,8,0,477,98,classic,0,"{'summary': {'restless': {'count': 5, 'minutes...",True
8,11474434632,2016-04-24,2016-04-24T00:52:00.000,2016-04-24T08:42:00.000,28200000,0,464,6,0,470,99,classic,0,"{'summary': {'restless': {'count': 4, 'minutes...",True
9,11468157733,2016-04-23,2016-04-22T23:22:00.000,2016-04-23T07:56:00.000,30840000,0,513,1,0,514,100,classic,0,"{'summary': {'restless': {'count': 1, 'minutes...",True
10,11460230559,2016-04-22,2016-04-21T23:23:00.000,2016-04-22T08:01:30.000,31080000,0,514,4,0,518,99,classic,0,"{'summary': {'restless': {'count': 2, 'minutes...",True
11,11451468219,2016-04-21,2016-04-20T22:05:30.000,2016-04-21T05:58:30.000,28380000,0,453,20,0,473,96,classic,0,"{'summary': {'restless': {'count': 12, 'minute...",True
12,11444759522,2016-04-20,2016-04-20T00:05:30.000,2016-04-20T07:05:30.000,25200000,0,416,4,0,420,99,classic,0,"{'summary': {'restless': {'count': 2, 'minutes...",True
13,11435323597,2016-04-19,2016-04-18T23:13:30.000,2016-04-19T07:13:30.000,28800000,0,451,29,0,480,94,classic,0,"{'summary': {'restless': {'count': 8, 'minutes...",True
14,11426889237,2016-04-18,2016-04-17T23:26:30.000,2016-04-18T07:20:30.000,28440000,0,463,7,4,474,99,classic,0,"{'summary': {'restless': {'count': 5, 'minutes...",True
15,11418305565,2016-04-17,2016-04-16T23:46:30.000,2016-04-17T08:12:30.000,30360000,0,491,11,4,506,98,classic,0,"{'summary': {'restless': {'count': 6, 'minutes...",True
16,11410931681,2016-04-16,2016-04-15T22:54:30.000,2016-04-16T08:31:00.000,34560000,0,562,14,0,576,98,classic,0,"{'summary': {'restless': {'count': 6, 'minutes...",True
17,11402315714,2016-04-15,2016-04-15T00:13:00.000,2016-04-15T07:19:00.000,25560000,0,407,19,0,426,96,classic,0,"{'summary': {'restless': {'count': 5, 'minutes...",True
18,11394359379,2016-04-14,2016-04-13T22:23:30.000,2016-04-14T07:12:00.000,31680000,0,493,30,5,528,94,classic,0,"{'summary': {'restless': {'count': 12, 'minute...",True
19,11383876739,2016-04-13,2016-04-12T23:01:30.000,2016-04-13T05:54:30.000,24780000,0,404,9,0,413,98,classic,0,"{'summary': {'restless': {'count': 6, 'minutes...",True
20,11375113158,2016-04-12,2016-04-11T22:36:00.000,2016-04-12T07:30:30.000,32040000,0,520,14,0,534,97,classic,0,"{'summary': {'restless': {'count': 8, 'minutes...",True
21,11366045347,2016-04-11,2016-04-11T00:46:00.000,2016-04-11T08:00:30.000,26040000,0,405,19,10,434,96,classic,0,"{'summary': {'restless': {'count': 10, 'minute...",True
22,11357768145,2016-04-10,2016-04-10T00:28:00.000,2016-04-10T08:15:30.000,28020000,0,461,6,0,467,99,classic,0,"{'summary': {'restless': {'count': 3, 'minutes...",True
23,11348857699,2016-04-09,2016-04-08T22:58:00.000,2016-04-09T07:41:30.000,31380000,0,517,6,0,523,99,classic,0,"{'summary': {'restless': {'count': 3, 'minutes...",True
24,11341495594,2016-04-08,2016-04-07T23:23:30.000,2016-04-08T07:52:30.000,30540000,0,499,10,0,509,98,classic,0,"{'summary': {'restless': {'count': 7, 'minutes...",True
25,11331470552,2016-04-07,2016-04-06T23:30:30.000,2016-04-07T06:30:30.000,25200000,0,412,8,0,420,98,classic,0,"{'summary': {'restless': {'count': 6, 'minutes...",True
26,11322165878,2016-04-06,2016-04-06T02:22:30.000,2016-04-06T06:50:30.000,16080000,0,260,8,0,268,97,classic,0,"{'summary': {'restless': {'count': 5, 'minutes...",True
27,11322165877,2016-04-06,2016-04-05T23:10:00.000,2016-04-06T02:14:00.000,11040000,0,168,16,0,184,91,classic,0,"{'summary': {'restless': {'count': 5, 'minutes...",False
28,11313644658,2016-04-05,2016-04-05T00:16:00.000,2016-04-05T07:26:30.000,25800000,0,423,7,0,430,98,classic,0,"{'summary': {'restless': {'count': 3, 'minutes...",True
29,11304669033,2016-04-04,2016-04-04T07:30:00.000,2016-04-04T09:42:30.000,7920000,0,126,6,0,132,95,classic,0,"{'summary': {'restless': {'count': 1, 'minutes...",False
30,11304669032,2016-04-04,2016-04-04T01:49:00.000,2016-04-04T07:30:00.000,20460000,14,319,8,0,341,98,classic,0,"{'summary': {'restless': {'count': 5, 'minutes...",True

In [15]:
sleep_summary = pd.json_normalize(data_df['levels'])
sleep_summary

,data,summary.restless.count,summary.restless.minutes,summary.awake.count,summary.awake.minutes,summary.asleep.count,summary.asleep.minutes
0,"[{'dateTime': '2016-05-01T17:44:00.000', 'leve...",58,189,45,79,0,693
1,"[{'dateTime': '2016-04-30T23:34:30.000', 'leve...",3,5,2,3,0,620
2,"[{'dateTime': '2016-04-29T23:35:00.000', 'leve...",3,4,2,3,0,455
3,"[{'dateTime': '2016-04-28T22:56:00.000', 'leve...",3,8,0,0,0,481
4,"[{'dateTime': '2016-04-27T23:41:30.000', 'leve...",4,5,1,1,0,438
5,"[{'dateTime': '2016-04-26T23:19:00.000', 'leve...",6,7,1,3,0,398
6,"[{'dateTime': '2016-04-25T23:34:00.000', 'leve...",6,10,1,3,0,468
7,"[{'dateTime': '2016-04-24T23:36:30.000', 'leve...",5,8,0,0,0,469
8,"[{'dateTime': '2016-04-24T00:52:00.000', 'leve...",4,5,1,1,0,464
9,"[{'dateTime': '2016-04-22T23:22:00.000', 'leve...",1,1,0,0,0,513
10,"[{'dateTime': '2016-04-21T23:23:00.000', 'leve...",2,3,1,1,0,514
11,"[{'dateTime': '2016-04-20T22:05:30.000', 'leve...",12,19,1,1,0,453
12,"[{'dateTime': '2016-04-20T00:05:30.000', 'leve...",2,4,0,0,0,416
13,"[{'dateTime': '2016-04-18T23:13:30.000', 'leve...",8,29,0,0,0,451
14,"[{'dateTime': '2016-04-17T23:26:30.000', 'leve...",5,11,0,0,0,463
15,"[{'dateTime': '2016-04-16T23:46:30.000', 'leve...",6,14,1,1,0,491
16,"[{'dateTime': '2016-04-15T22:54:30.000', 'leve...",6,9,1,5,0,562
17,"[{'dateTime': '2016-04-15T00:13:00.000', 'leve...",5,14,2,5,0,407
18,"[{'dateTime': '2016-04-13T22:23:30.000', 'leve...",12,29,4,6,0,493
19,"[{'dateTime': '2016-04-12T23:01:30.000', 'leve...",6,9,0,0,0,404
20,"[{'dateTime': '2016-04-11T22:36:00.000', 'leve...",8,14,0,0,0,520
21,"[{'dateTime': '2016-04-11T00:46:00.000', 'leve...",10,25,1,4,0,405
22,"[{'dateTime': '2016-04-10T00:28:00.000', 'leve...",3,4,1,2,0,461
23,"[{'dateTime': '2016-04-08T22:58:00.000', 'leve...",3,6,0,0,0,517
24,"[{'dateTime': '2016-04-07T23:23:30.000', 'leve...",7,10,0,0,0,499
25,"[{'dateTime': '2016-04-06T23:30:30.000', 'leve...",6,8,0,0,0,412
26,"[{'dateTime': '2016-04-06T02:22:30.000', 'leve...",5,6,1,2,0,260
27,"[{'dateTime': '2016-04-05T23:10:00.000', 'leve...",5,15,1,1,0,168
28,"[{'dateTime': '2016-04-05T00:16:00.000', 'leve...",3,3,1,4,0,423
29,"[{'dateTime': '2016-04-04T07:30:00.000', 'leve...",1,6,0,0,0,126
30,"[{'dateTime': '2016-04-04T01:49:00.000', 'leve...",5,21,1,1,0,319

In [21]:
# sleep_summary.drop('data',axis=1,inplace=True)

data_df = pd.concat([data_df,sleep_summary], axis=1)

data_df.columns

Index(['logId', 'dateOfSleep', 'startTime', 'endTime', 'duration',
       'minutesToFallAsleep', 'minutesAsleep', 'minutesAwake',
       'minutesAfterWakeup', 'timeInBed', 'efficiency', 'type', 'infoCode',
       'levels', 'mainSleep', 'summary.restless.count',
       'summary.restless.minutes', 'summary.awake.count',
       'summary.awake.minutes', 'summary.asleep.count',
       'summary.asleep.minutes', 'summary.restless.count',
       'summary.restless.minutes', 'summary.awake.count',
       'summary.awake.minutes', 'summary.asleep.count',
       'summary.asleep.minutes'],
      dtype='object')

In [22]:
data_df.head()

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,...,summary.awake.count,summary.awake.minutes,summary.asleep.count,summary.asleep.minutes,summary.restless.count,summary.restless.minutes,summary.awake.count,summary.awake.minutes,summary.asleep.count,summary.asleep.minutes
0,11552355960,2016-05-02,2016-05-01T17:44:00.000,2016-05-02T09:45:00.000,57660000,121,693,143,4,961,...,45,79,0,693,58,189,45,79,0,693
1,11529580516,2016-05-01,2016-04-30T23:34:30.000,2016-05-01T10:03:00.000,37680000,0,620,8,0,628,...,2,3,0,620,3,5,2,3,0,620
2,11522757046,2016-04-30,2016-04-29T23:35:00.000,2016-04-30T07:17:30.000,27720000,0,455,7,0,462,...,2,3,0,455,3,4,2,3,0,455
3,11514700724,2016-04-29,2016-04-28T22:56:00.000,2016-04-29T07:05:00.000,29340000,0,481,8,0,489,...,0,0,0,481,3,8,0,0,0,481
4,11514700723,2016-04-28,2016-04-27T23:41:30.000,2016-04-28T07:05:30.000,26640000,0,438,6,0,444,...,1,1,0,438,4,5,1,1,0,438

In [23]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   logId                     31 non-null     int64
 1   dateOfSleep               31 non-null     object
 2   startTime                 31 non-null     object
 3   endTime                   31 non-null     object
 4   duration                  31 non-null     int64
 5   minutesToFallAsleep       31 non-null     int64
 6   minutesAsleep             31 non-null     int64
 7   minutesAwake              31 non-null     int64
 8   minutesAfterWakeup        31 non-null     int64
 9   timeInBed                 31 non-null     int64
 10  efficiency                31 non-null     int64
 11  type                      31 non-null     object
 12  infoCode                  31 non-null     int64
 13  levels                    31 non-null     object
 14  mainSleep                 31 non-null     bool
 15  summary.restless.count    31 non-null     int64
 16  summary.restless.minutes  31 non-null     int64
 17  summary.awake.count       31 non-null     int64
 18  summary.awake.minutes     31 non-null     int64
 19  summary.asleep.count      31 non-null     int64
 20  summary.asleep.minutes    31 non-null     int64
 21  summary.restless.count    31 non-null     int64
 22  summary.restless.minutes  31 non-null     int64
 23  summary.awake.count       31 non-null     int64
 24  summary.awake.minutes     31 non-null     int64
 25  summary.asleep.count      31 non-null     int64
 26  summary.asleep.minutes    31 non-null     int64
dtypes: bool(1), int64(21), object(5)
memory usage: 6.5+ KB

In [24]:
with open('../data/Sleep/sleep-2020-09-08.json') as json_file:
    data = json.load(json_file)
    
recent_data = pd.DataFrame(data)

In [27]:
recent_data.head()

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,type,infoCode,levels,mainSleep
0,29101483489,2020-10-01,2020-09-30T22:27:30.000,2020-10-01T08:11:00.000,34980000,0,519,64,0,583,97,stages,0,"{'summary': {'deep': {'count': 5, 'minutes': 1...",True
1,29088843251,2020-09-30,2020-09-30T00:01:00.000,2020-09-30T07:56:00.000,28500000,0,386,89,3,475,91,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 6...",True
2,29073615413,2020-09-29,2020-09-28T23:02:30.000,2020-09-29T09:09:00.000,36360000,0,561,45,1,606,97,stages,0,"{'summary': {'deep': {'count': 5, 'minutes': 8...",True
3,29057066826,2020-09-28,2020-09-27T22:39:30.000,2020-09-28T06:51:00.000,29460000,0,436,55,2,491,96,stages,0,"{'summary': {'deep': {'count': 5, 'minutes': 5...",True
4,29046113657,2020-09-27,2020-09-27T01:20:30.000,2020-09-27T09:11:30.000,28260000,0,427,44,0,471,96,stages,0,"{'summary': {'deep': {'count': 3, 'minutes': 8...",True